[buildout]
develop = .
extends = http://download.zope.org/bluebream/bluebream-1.0b1.cfg
parts = test
        interpreter

[test]
recipe = zc.recipe.testrunner
eggs = ice.control

[interpreter]
recipe = zc.recipe.egg
eggs = ice.control
interpreter = py
